@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* UNIVERSAL STYLE START*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100vw;
  background-color: #4d4646;
  color: #7fcd91;
  font-weight: 500;
  font-family: "Poppins";
}

.container {
  margin: 12px;
  height: 100%;
}
/* UNIVERSAL STYLE END */

/* HEADER STYLE START */
header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

header > a {
  flex: 0 0 210px;
  text-decoration: none;
  color: #7fcd91;
}

header h1 {
  font-size: 1.65rem;
  font-weight: 700;
  text-transform: uppercase;
  word-spacing: -3px;
}

.emailme-header {
  display: none;
}

nav {
  flex: 0 0 50px;
}

nav ul {
  list-style: none;
}

nav ul li a {
  display: inline-block;
  text-align: center;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
  color: #7fcd91;
}
/* HEADER STYLE END */

/* CONTENT STYLE START */

.profile,
.project {
  margin-top: 25px;
}

.profile > h1,
.project > h1 {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: capitalize;
}

.profile > p,
.findme {
  font-size: 0.85rem;
  font-weight: 400;
  letter-spacing: 1.1px;
  line-height: 20px;
  color: #f5eaea;
}

.findme {
  font-weight: 500;
}

.social-media {
  margin-top: 6px;
}

.social-media img {
  height: 18px;
  width: auto;
}

.social-media > ul {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.social-media ul li {
  height: 28px;
  width: auto;
}

.social-media ul li a {
  display: inline-block;
  padding: 3px;
  height: 100%;
  width: 100%;
  background-color: #f5eaea;
  border: 2px #7fcd91 solid;
  border-radius: 20px;
  text-decoration: none;
}

.social-media ul li a:hover,
.emailme-hero a:hover {
  opacity: 0.5;
}

.choice {
  text-transform: uppercase;
  font-size: 0.6rem;
  margin-left: 5px;
  align-self: center;
  font-weight: 500;
}

.emailme-hero a{
  align-self: center;
  margin-left: 5px;
  margin-bottom: 4px;
  width: 90px !important;
  font-size: 0.85rem;
  text-align: center;
  border-radius: 20px;
  background-color: #7fcd91 !important;
  color: #4d4646;
}

/* PROJECT STYLE START */
.project h1 {
  letter-spacing: -0.6px;
}

.project-list {
  margin: 12px 0 50px 0;
}

.project-list ul {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  gap: 12px;
}

.project-list ul li a {
  text-decoration: none;
  color: #7fcd91;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.project-list ul li a:hover,
.emailme-hero a:hover {
  opacity: 0.8;
}

.project-list ul li a::before {
  content: "..";
  margin: 3px;
  border-radius: 20px;
  background-color: #f5eaea;
  color: #f5eaea;
}

.project-list ul li p {
  font-size: 0.7rem;
  font-weight: 300;
  margin: 8px 0 0 25px;
  color: #f5eaea;
}

/* .pagination {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 5px;
  font-size: 0.65rem;
  font-weight: 500;
  margin-left: 25px;
  margin-top: 15px;
  height: 22px;
}

.pagination a {
  border: 1px #7FCD91 solid;
  border-radius: 20px;
  width: 22px;  
  text-align: center;
  text-decoration: none;
  color: #7FCD91;
  height: 100%;
  padding: 3px;
}

.pagination a:hover {
  background-color: #5B5656;
} */
/* PROJECT STYLE END */
/* CONTETN STYLE END */

/* FOOTER STYLE START */
footer p {
  font-size: 0.62rem;
  font-weight: 300;
  text-align: center;
  padding: 3px 0;
  color: #f5eaea;
}
/* FOOTER STYLE END */

/* MEDIA QUERY */
@media screen and (min-width: 480px) {
  .container {
    margin: 12px 25px;
  }

  nav ul {
    width: 150px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: baseline;
    gap: 8px;
  }

  .choice,
  .emailme-hero {
    display: none;
  }

  .emailme-header {
    display: inline-block;
  }

  .emailme-header a {
    padding: 3px 10px;
    border: 3px #7fcd91 solid;
    border-radius: 20px;
  }

  .emailme-header a:hover {
    background-color: #7fcd91;
    color: #4d4646;
  }

  header h1 {
    font-size: 2rem;
    width: 250px;
  }

  .social-media ul {
    justify-content: flex-start;
  }

  .social-media img {
    height: 22px;
    width: auto;
  }

  .social-media ul li {
    height: 32px;
    width: auto;
  }

  .project h1 {
    letter-spacing: 0px;
  }
}

@media screen and (min-width: 740px) {
  .container {
    margin: 12px 50px;
  }

  nav ul {
    width: 150px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: baseline;
    gap: 8px;
  }

  .emailme-header {
    display: inline-block;
  }

  .emailme-header a {
    padding: 4px 8px;
  }

  header h1 {
    font-size: 2rem;
    width: 250px;
  }

  .profile h1,
  .project h1 {
    font-size: 1.6rem;
  }

  .profile h1 {
    margin: 30px 0 12px 0;
  }

  .profile p {
    font-size: 1rem;
    margin-bottom: 12px;
    width: 520px;
  }

  .project-list ul li a {
    font-size: 1.2rem;
  }

  .project-list ul li p {
    font-size: 0.8rem;
  }

  footer p {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    margin: 12px 180px;
  }

  header h1 {
    font-size: 2.5rem;
    width: 400px;
  }

  nav ul {
    width: 150px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: baseline;
    gap: 12px;
  }

  .profile h1,
  .project h1 {
    font-size: 1.8rem;
  }

  .profile p {
    font-size: 1.2rem;
    margin-bottom: 12px;
    width: 520px;
  }

  .social-media img {
    height: 30px;
    width: auto;
  }

  .social-media ul li {
    height: 40px;
    width: auto;
  }

  .project-list ul li a {
    font-size: 1.3rem;
  }

  .project-list ul li p {
    font-size: 0.95rem;
  }

  /* .pagination {
    font-size: 0.75rem;
    height: 25px;
  }

  .pagination a {
    width: 25px;
    height: 100%;
  } */

  footer p {
    font-size: 0.72rem;
  }
}
